.contact-wrap {
  width: 85%;
  min-height: 60vh;
 display: flex;
 justify-content: center;
  background: #fff;
  
  margin-top: 9rem;
}
.contact-main{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  background-color: rgb(184, 180, 180);
}

.contact-left {
  padding: 70px 85px;
}

.contact-title {
  font-size: 42px;
  letter-spacing: 4px;
  margin-bottom: 30px;
  color: #b59b7c; 
  font-weight: 500;
}

.contact-form {
  max-width: 620px;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
  width: 100%;
  padding: 14px 16px;
  
  border: 1px solid #e2e2e2;
  border-radius: 6px;
  font-size: 15px;
  outline: none;
}

.contact-form select{
  width: 106%;
  color:#aaa ;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #aaa;
}



.contact-note {
  font-size: 13px;
  color: #777;
  margin: 30px 0 20px;
  line-height: 1.6;
}

.contact-btn {
  background: #0b2a5b;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.25s ease;
}

.contact-btn:hover {
  background: transparent;
  color: #b59b7c;
  border: 1px solid #b59b7c;
}

.contact-image {
  background-size: cover;
  background-position: center;
}

.contact-right{
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  
}
.error-text {
  font-size: 11px;
  color: #ef4444;
  margin-left: 5px;
  
}
.boxess{
  height: 80px;
}

/* Responsive */
@media (max-width: 480px) {
  .contact-wrap {
    grid-template-columns: 1fr;
    border-radius: 10px;
  }

  .contact-image {
    display: none;
  }

    /* .contact-form-wrap {
      padding: 40px 20px;
    } */
 
    .contact-title{
   width: 115%;
   text-align: left;
   font-size: 25px;

    }

    .contact-left {
    padding: 45px 15px;
}
.contact-form input, .contact-form select, .contact-form textarea {
    width: 93%;
    padding: 12px 10px;
    border: 1px solid #e2e2e2;
    border-radius: 6px;
    font-size: 13px;
    outline: none;
}
.contact-note {
    font-size: 10px;
    color: #777;
    margin: 30px 0 20px;
    line-height: 1.6;
}
.contact-btn{
  font-size: 12px;
}
.boxess {
    height: 68px;
}
.contact-form select {
    width: 99%;
    color: #aaa;
}
.error-text{
  font-size: 10px;
}
}