body, html, #root {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.nav-main {
  position: absolute;     
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;             
  background: transparent;
 
}

.navbar-main {
  display: flex;
  justify-content:space-around;
  align-items: center;
  
}
.nav-logo{
  color: white;
}
.logo-imgg{
   height:150px;
   width: 200px;
}


.nav-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    gap: 30px;
    color: white;
    cursor: pointer;
    position: relative;
    right: 20px;
    
   
   
}
.list-cover{
   
    display: flex;
    justify-content:center;
    align-items: center;
    width: 35%;
    border-radius: 30px;
    backdrop-filter: blur(20px);
    box-shadow: 0px 0px 1px white;
    
    
}

.nav-button{
     
      border-radius: 25px;
      display: flex;
    justify-content:center;
    align-items: center;
    padding: 10px 25px;
    font-size: 15px;
    font-weight: bold;
    background: transparent;
    border: 1px solid white;
    
}
.linkss{
  height: 30px;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.linkss {
  text-decoration: none;
  color: white;
}

 .linkss:hover{
  background: white;
  color: blue;
  border-radius: 25px;
 
}

.links:active{
  background: white;
  color: blue;
  border-radius: 25px;

}

.nav-button:hover{
background: transparent;
color: blue;
box-shadow: 0px 0px 0px 1px white;
cursor: pointer;
}


